
.DS_Store
.Rhistory
.Rproj.user/DD6079DF/pcs/files-pane.pper
.Rproj.user/DD6079DF/pcs/source-pane.pper
.Rproj.user/DD6079DF/pcs/windowlayoutstate.pper
.Rproj.user/DD6079DF/pcs/workbench-pane.pper
.Rproj.user/DD6079DF/rmd-outputs
.Rproj.user/DD6079DF/saved_source_markers
.Rproj.user/DD6079DF/sources/prop/628EFE14
.Rproj.user/DD6079DF/sources/prop/835A7735
.Rproj.user/DD6079DF/sources/prop/96FC7831
.Rproj.user/DD6079DF/sources/prop/INDEX
.Rproj.user/DD6079DF/sources/s-8351AF51/4DCB697A
.Rproj.user/DD6079DF/sources/s-8351AF51/4DCB697A-contents
.Rproj.user/DD6079DF/sources/s-8351AF51/BF8B3FBC-contents
.Rproj.user/DD6079DF/sources/s-8351AF51/DE162F15-contents
.Rproj.user/DD6079DF/sources/s-8351AF51/lock_file
.Rproj.user/shared/notebooks/87BCB8D7-ToTheBoss/1/s/chunks.json
.Rproj.user/shared/notebooks/E452D1BC-ToTheClient/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/DD6079DF/sources/prop/443CC986
.Rproj.user/DD6079DF/sources/prop/557FBBE3
.Rproj.user/DD6079DF/sources/s-3DBA3E13/0A872DDA
.Rproj.user/DD6079DF/sources/s-3DBA3E13/0A872DDA-contents
.Rproj.user/DD6079DF/sources/s-3DBA3E13/516277FC
.Rproj.user/DD6079DF/sources/s-3DBA3E13/516277FC-contents
.Rproj.user/DD6079DF/sources/s-3DBA3E13/99BFF75D
.Rproj.user/DD6079DF/sources/s-3DBA3E13/99BFF75D-contents
.Rproj.user
